/* = 导航条相关属性 */
$navHei: 52px;
$navBgCol: #222;        // 导航条颜色
$navTxtCol: #9d9d9d;    // 导航文字颜色
$navBtCol: #101010;     // 导航底部线条颜色
$navLiAct: #080808;     // 导航li条颜色

/* = 左边栏相关属性 */
$leftWid: 175px;        // 侧边栏菜单的宽度
$leftBgCol: #cbcbcb;    // 侧边栏的颜色
$leftBrCol: #c2c0c0;    // 侧边栏边框颜色
$leftLiHei: 40px;       // 侧边li条的高度
$leftLiBbCol: #ababab;  // 侧边li条下边框颜色
$leftLiTxtCol: #222;    // 侧边li条文字颜色
$subMHei: 30px;
$subMBgCol: #ddd;       // 侧边 subli 条背景颜色

/* = 底部相关属性 */
$bomHei: 40px;          // 底部高度
$bomBgCol: #222;        // 底部背景颜色
$bomTxtCol: #9d9d9d;    // 底部文字颜色
$bomBtCol: #101010;     // 底部边框颜色

/* = active */
$itemAcBg: #6c7dab;     // 侧边栏点击效果
$itemSubAcBg: #8ca2df;  // 侧边栏子菜单点击效果


/* = resetCSS 
-------------------------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
}
html, body {
    position: relative;
    height: 100%;
}
a {
    text-decoration: none;
}

/* = replace
-------------------------------------------------------------------------*/
.navbar {
    margin-bottom: 0;
    border-radius: 0;
} 
.search-query {
    width: 50%;
}
.breadcrumb {
    padding-left: 0;
}


/* = component
-------------------------------------------------------------------------*/
.exit {
    margin-right: 20px;
    line-height: 48px;
    cursor: pointer;
}
.left-menu-icon {
    position: absolute;
    top: 12px;
    left: -24px;
}
.nav li:active {
    background: $navLiAct;
}

/* = navigation
-------------------------------------------------------------------------*/
.wrapper {
    position: relative;
    padding-bottom: $bomHei;
    min-height: 100%;
}

/* = content
-------------------------------------------------------------------------*/
.content {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    position: relative;
    height: 100%;
}
.main {
    position: relative;
    margin-left: 20px;
    width: 70%;
    overflow: hidden;
}
.itemAc {
    background: $itemAcBg;
}
.itemSubAc {
    background: $itemSubAcBg;
}
.left-menu {
    position: relative;
    width: $leftWid;
    background: $leftBgCol;
    border-right: 1px solid $leftBrCol;
    li {
        position: relative;
        width: 100%;
        height: $leftLiHei;
        text-indent: 4em;
        border-bottom: 1px solid $leftLiBbCol;
        cursor: pointer;
        a {
            line-height: $leftLiHei;
            color: $leftLiTxtCol;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .cus-submenu {
        display: none;
        li {
            height: $subMHei;
            font-size: 13px;
            text-indent: 4.2em;
            a {
                line-height: $subMHei;
            }
        }
    }

}
.cus-submenu {
    background: $subMBgCol;
}
.user-menu {
    margin-right: 10px;
}

.breadcrumb {
    height: 40px;
    background: none;
}
.search {
    margin: 30px auto;
}


/* = footer
-------------------------------------------------------------------------*/
.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $bomHei;
    background: $bomBgCol;
    color: $bomTxtCol;
    text-align: center;
    line-height: $bomHei;
    border-top: 1px solid $bomBtCol;
}


